
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110" style="width:60%;margin-left:20%;">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th colspan="2" class="cell100 column1">Next Generation Loan Inspection System</th>

                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <tr class="row100 body">
                            <td class="cell100 column1">Database</td>
                            <td class="cell100 column2" style="margin:0px;padding:0px">
                                    <img *ngIf="databaseStatus" height="40px" width="40px" src="../../assets/image/Ellipsis-1s-100px.gif"/>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
